<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kayura.uasp.auth.dao.UserMapper">

	<resultMap type="org.kayura.uasp.auth.po.User" id="userMap">
		<id property="userId" column="User_Id" />
		<result property="userName" column="UserName" />
		<result property="displayName" column="DisplayName" />
		<result property="email" column="Email" />
		<result property="mobileNo" column="MobileNo" />
		<result property="keyword" column="Keyword" />
		<result property="userType" column="UserType" />
		<result property="status" column="Status" />
	</resultMap>
	
	<sql id="userColumns">
		t.User_Id,
		t.UserName,
		t.DisplayName,
		t.Email,
		t.MobileNo,
		t.Keyword,
		t.UserType,
		t.Status
	</sql>
	
	<select id="findUsersByMap" parameterType="map" resultMap="userMap">
		SELECT 
			<include refid="userColumns"></include>
		FROM UASP_Users t
		<where>
			<if test="keyword != null">
				AND ( t.Keyword LIKE #{keyword} )
			</if>
			<if test="userType != null">
				AND ( t.UserType = #{userType} )
			</if>
			<if test="status != null">
				AND ( t.Status IN ( ${status} ) )
			</if>
		</where>
	</select>
	
	<select id="getUserById" parameterType="string" resultMap="userMap">
		SELECT
			<include refid="userColumns"></include>
		FROM uasp_users t
		WHERE t.User_Id = #{value}
	</select>
	
	<select id="exists" parameterType="map" resultType="boolean">
		SELECT COUNT(1) > 0 
		FROM uasp_users t
		<where>
			<if test="userId != null">
				AND t.User_Id = #{userId}
			</if>
			<if test="userName != null">
				AND t.UserName = #{userName}
			</if>
			<if test="userType != null">
				AND ( t.UserType = #{userType} )
			</if>
			<if test="password != null">
				AND t.Password = #{password}
			</if>
		</where>
	</select>
	
	<insert id="insertUser" parameterType="org.kayura.uasp.auth.po.User">
		INSERT INTO uasp_users (
			User_Id,
			UserName,
			DisplayName,
			Email,
			MobileNo,
			Keyword,
			UserType,
			Status
		) VALUES (
			#{id},
			#{userName},
			#{displayName},
			#{email},
			#{mobileNo},
			#{keyword},
			#{userType},
			#{status}
		)
	</insert>
	
	<update id="updateUser" parameterType="org.kayura.uasp.auth.po.User">
		UPDATE uasp_users
		SET UserName = #{userName},
			DisplayName = #{displayName},
			Email = #{email},
			MobileNo = #{mobileNo},
			Keyword = #{keyword},
			UserType = #{userType},
			Status = #{status}
		WHERE User_Id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="string">
		DELETE uasp_users
		WHERE User_Id = #{value}
	</delete>

</mapper>