<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kayura.uasp.dao.DictMapper">

	<resultMap id="dictDefineMap" type="org.kayura.uasp.po.DictDefine">
		<result property="id" column="Dict_Id" />
		<result property="tenantId" column="Tenant_Id" />
		<result property="code" column="Code" />
		<result property="name" column="Name" />
		<result property="description" column="Description" />
	</resultMap>

	<resultMap id="dictItemMap" type="org.kayura.uasp.po.DictItem">
		<result property="id" column="Item_Id" />
		<result property="parentId" column="Parent_Id" />
		<result property="dictId" column="Dict_Id" />
		<result property="name" column="Name" />
		<result property="value" column="Value" />
		<result property="isFixed" column="IsFixed" />
	</resultMap>

	<select id="loadDictDefinces" parameterType="string" resultMap="dictDefineMap">
		SELECT
			t.Dict_Id,
			t.Tenant_Id,
			t.Code,
			t.Name,
			t.Description
		FROM USAP_DictDefine t
		WHERE 
		<if test="value == null">
			( t.Tenant_Id IS #{value} )
		</if>
		<if test="value != null">
			( t.Tenant_Id = #{value} )
		</if>	
	</select>

	<sql id="dictItemColumns">
		t.Item_Id,
		t.Parent_Id,
		t.Dict_Id,
		t.Name,
		t.Value,
		t.IsFixed
	</sql>
	
	<select id="loadDictItems" parameterType="string" resultMap="dictItemMap">
		SELECT
			<include refid="dictItemColumns" />
		FROM UASP_DictItems t
		WHERE ( t.Dict_Id = #{value} )
	</select>
	
	<select id="findDictItems" parameterType="map" resultMap="dictItemMap">
		SELECT
			<include refid="dictItemColumns" />
		FROM UASP_DictItems t
		<where>
			<if test="dictId != null">
				AND ( t.Dict_Id = #{dictId} )
			</if>
			<if test="parentId != null">
				AND ( t.Parent_Id = #{parentId} )
			</if>
			<if test="itemId != null">
				AND ( t.Item_Id = #{itemId} )
			</if>
		</where>
	</select>
	
	<select id="getDictItemsById" parameterType="string" resultMap="dictItemMap">
		SELECT
			<include refid="dictItemColumns" />
		FROM UASP_DictItems t
		WHERE ( t.Item_Id = #{value} )
	</select>

	<insert id="insertDictItem" parameterType="org.kayura.uasp.po.DictItem">
		INSERT UASP_DictItems (
			Item_Id,
			Parent_Id,
			Dict_Id,
			Name,
			Value,
			IsFixed
		) VALUES (
			#{itemId},
			#{parentId},
			#{dictId},
			#{name},
			#{value},
			#{isFixed}
		)
	</insert>
	
	<update id="updateDictItem" parameterType="org.kayura.uasp.po.DictItem">
		UPDATE UASP_DictItems
		SET	Name = #{name},
			Value = #{value}
		WHERE ( Item_Id = #{itemId} )
	</update>
	
	<delete id="deleteDictItem" parameterType="string">
		DELETE UASP_DictItems t
		WHERE ( t.Item_Id = #{value} )
	</delete>
	
</mapper>