<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kayura.uasp.dao.RememberMeMapper">

	<resultMap id="rememberMeMap" type="org.kayura.uasp.po.RememberMe">
		<result property="seriesId" column="Series_Id" />
		<result property="userId" column="User_Id" />
		<result property="token" column="Token" />
		<result property="lastUsed" column="LastUsed" />
	</resultMap>

	<insert id="createNewToken" parameterType="org.kayura.uasp.po.RememberMe">
		INSERT INTO Authz_RememberMe (
			Series_Id,
			User_Id,
			Token,
			LastUsed
		) VALUES (
			#{seriesId},
			#{userId},
			#{token},
			#{lastUsed}
		)
	</insert>
	
	<!-- String seriesId, String token, Date lastUsed -->
	<update id="updateToken" parameterType="map">
		UPDATE Authz_RememberMe
		SET Token = #{token},
			LastUsed = #{lastUsed}
		WHERE Series_Id = #{seriesId}
	</update>
	
	<select id="getTokenForSeries" parameterType="string" resultMap="rememberMeMap">
		SELECT Series_Id, User_Id, Token, LastUsed
		FROM Authz_RememberMe
		WHERE Series_Id = #{seriesId}
	</select>
	
	<delete id="removeUserTokens" parameterType="string">
		DELETE Authz_RememberMe
		WHERE User_Id = #{userId}
	</delete>
	
</mapper>